# Created by .ignore support plugin (hsz.mobi)
.idea
infra-environment/dev/.terraform
infra-environment/dev/terraform.tfstate
infra-environment/dev/.terraform/
infra-environment/dev/terraform.tfvars
infra-environment/dev/terraform.tfstate.backup
infra-environment/dev/.terraform.tfstate.lock.info
